/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    /*common css starts*/
    body{
        padding-top: 85px;
    }
    /*common css ends*/

    /*header starts*/
    header{
        padding: 0 0;
    }
    .logo{
        width: 180px !important;
    }
    .menu ul li a{
        margin-bottom: 10px !important;
        padding: 0 15px !important;
    }
    h1{
        font-size: 30px;
        font-weight: 700;
        line-height: 70px;
    }
    .box{
        margin: 10px 0;
    }
    /*header ends*/
     /*banner starts*/
     .banner{
        padding-bottom: 60px;
     }
     .b_text{
        text-align: center;
    }
    .b_h1{
        padding: 0;
        font-size: 30px;
        line-height: 40px;
    }
    .b_p2{
        padding: 0;
        line-height: 30px;
    }
    .btn_link{
        margin: 15px auto 0;
    }
    .b_img{
        margin-bottom: 20px;
        padding: 0;
    }
    /*banner ends*/
    /* feature start*/
    .c_pad{
        padding-bottom: 60px;
    }
    .s_feature{
        margin-top: 24px;
    }
    .s_img{
        width: 60px;
        height: 70px;
    }
    /*feature ends*/
    /*course starts*/
    .c_h1{
        font-size: 25px;
    }
    .c_item{
        margin-top: 30px;
        padding: 10px 10px 15px;
    }
    .c_h2{
        font-size: 20px;
    }
    .cli:not(:last-child){
        margin-right: 0px;
    }
    .c_left ul li img,
    .c_right ul li img{
        width: 18px;
    }
    .c_left ul li span,
    .c_right ul li span{
        font-weight: 400;
    }
    /*course ends*/
    /*testimony starts*/
    .t_item{
        margin-top: 30px;
    }
    .t_img{
        padding: 0 60px 20px;
    }
    .t_text{
        text-align: center;
    }
    /*testimony ends*/
    /*footer top starts*/
    .footer_top{
        text-align: center;
        padding: 55px 0 20px;
    }
    .ft_details{
        margin-bottom: 35px;
        padding-right: 0;
    }
    .ft_links{
        margin-bottom: 35px;
    }
    /*footer top ends*/
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    /*common css starts*/
    body{
        padding-top: 95px;
    }
    /*common css ends*/
    /*header starts*/
    header{
        padding: 5px 0;
    }
    .menu ul li a{
        margin-bottom: 15px !important;
        padding: 0 15px !important;
    }
    /*header ends*/
    /*banner starts*/
    .b_text{
        text-align: center;
    }
    .b_h1{
        padding: 0 40px 0;
        font-size: 35px;
        line-height: 50px;
    }
    .b_p2{
        padding: 0 30px 0;
        line-height: 30px;
    }
    .btn_link{
        margin: 15px auto 0;
    }
    .b_img{
        margin-bottom: 30px;
        padding: 0 50px;
    }
    /*banner ends*/
    /* feature start*/
    .c_pad{
        padding-bottom: 60px;
    }
    .s_feature{
        margin-top: 24px;
    }
    /*feature ends*/
    /*course starts*/
    .c_h1{
        font-size: 25px;
    }
    .c_item{
        margin: 30px 60px 0;
        padding: 20px 15px 25px;
    }
    .c_left ul li img,
    .c_right ul li img{
        width: 18px;
    }
    .c_left ul li span,
    .c_right ul li span{
    font-weight: 400;
    }
    /*course ends*/
    /*testimony starts*/
    .t_item{
        margin-top: 30px;
    }
    .t_img{
        padding: 0 120px 20px;
    }
    .t_text{
        text-align: center;
    }
    /*testimony ends*/
    /*footer top starts*/
    .footer_top{
        text-align: center;
    }
    .ft_details{
        margin-bottom: 35px;
        padding: 0 70px;
    }
    /*footer top ends*/
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    /*common css starts*/
    body{
        padding-top: 105px;
    }
    /*common css ends*/
    /*header starts*/
    header{
        padding: 10px 0;
    }
    .menu ul li a{
        margin-bottom: 15px !important;
        padding: 0 15px !important;
    }
    /*header ends*/
    /*banner starts*/
    .b_text{
        text-align: center;
    }
    .b_h1{
        padding: 0 90px 0;
    }
    .b_p2{
        padding: 0 70px 0;
    }
    .btn_link{
        margin: 15px auto 0;
    }
    .b_img{
        margin-bottom: 30px;
        padding: 0 100px;
    }
    /*banner ends*/
    /*feature start*/
    .c_pad{
        padding-bottom: 80px;
    }
    .s_feature{
        margin-top: 24px;
    }
    /*feature ends*/
    /*course starts*/
    .c_item{
        margin: 40px 100px 0;
    }
    .c_left ul li img,
    .c_right ul li img{
        width: 18px;
    }
    .c_left ul li span,
    .c_right ul li span{
        font-weight: 400;
    }
    /*course ends*/
    /*testimony starts*/
    .t_item{
        margin-top: 40px;
    }
    /*testimony ends*/
    /*footer top starts*/
    .footer_top{
        text-align: center;
    }
    .ft_details{
        margin-bottom: 35px;
        padding: 0 80px;
    }
    /*footer top ends*/
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    /*course starts*/
    .c_item{
        padding: 24px 15px 30px;
    }
    .cli:not(:last-child){
        margin-right: 0px;
    }
    .c_left ul li img,
    .c_right ul li img{
        width: 18px;
    }
    .c_left ul li span,
    .c_right ul li span{
        font-weight: 400;
    }
    /*course ends*/
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
    
}

/* Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
    /*banner starts*/
    .b_h1{
        padding: 0 106px 0 0;
    }
    .b_p2{
        padding-right: 90px;
    }
    /*banner ends*/
    /* feature starts */
    .s_feature{
        padding: 65px 0 60px;
    }
    /*feature ends*/
    /*footer top starts*/
    .ft_details{
        padding-right: 130px;
    }
    /*footer top ends*/
}